body{
    background-color:#eaf6f6;
}

hr{
    
    height: 0px;
    border-style:none;
    border-top: dotted;
    width: 3%;
    border-color: grey;
    border-width: 7px;
}

h1,h3{
    color:#66BFBF;
}
        
